{% extends 'generic/object.html' %}
{% load helpers %}

{% block content %}
<div class="row">
    <div class="col col-md-6">
        <div class="card">
            <h5 class="card-header">Golden Image Standard</h5>
            <div class="card-body">
                <table class="table table-hover attr-table">
                    <tr>
                        <th scope="row">Platform</th>
                        <td>{{ object.platform|linkify }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Designated Image</th>
                        <td>{{ object.image|linkify }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Version</th>
                        <td>{{ object.image.version }}</td>
                    </tr>
                </table>
            </div>
        </div>
        {% if object.description %}
        <div class="card">
            <h5 class="card-header">Rationale</h5>
            <div class="card-body">{{ object.description }}</div>
        </div>
        {% endif %}
        {% include 'inc/panels/custom_fields.html' %}
        {% include 'inc/panels/tags.html' %}
    </div>
</div>
{% endblock content %}
